body {
  background-color: black;
  color: aliceblue;
}

body::-webkit-scrollbar {
  display: none;
}

.hover_effect {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  position: relative;
  /* overflow: hidden; */
  /* background-color: aquamarine; */
  margin-bottom: 35px;
  margin-top: 10px;
}

.hover_effect img {
  /* height: 100%; */
  width: 100%;
  transition: transform 0.7s ease; /* Fixed typo: 'tranform' to 'transform' */
  object-fit: cover; /* This ensures the image covers the container properly */
}

.hover_effect:hover img {
  transform: scale(1.1);
}
